<ion-view view-title="ProjectMT">

   
    <ion-content >

        <div class="list">
            <ion-list class="item item-button-right">
                <ionitem ng-repeat="category in vm.categories">
                    {{category.name}}
                    <button class="button button-positive">Delete</button>
                </ionitem>
            </ion-list>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper ">
                    <input type="text">
                </label>
                <button class="button button-small" ng-click="vm.add()">Add</button>
            </div>
        </div>

    </ion-content>
</ion-view>