<ion-view view-title="ProjectMT">

   
    <ion-content >

        <div class="list">
            <ion-list class="item item-button-right">
                <ion-item ng-repeat="category in vm.categories" >
                    <p>{{category.name}}</p>
                    <button class="button button-positive button-block" ng-click="vm.deleteCategory(category.id)">Delete</button>
                </ion-item>
            </ion-list>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper ">
                    <input type="text" ng-model="vm.newCategory.name">
                </label>
                <button class="button button-small" ng-click="vm.saveCategory()">Add</button>
            </div>
        </div>

    </ion-content>
</ion-view>