<ion-view view-title="ProjectMT">

    <ion-nav-buttons side="right">
        <button ui-sref="projectCreate" class="button button-calm icon ion-plus-round"></button>
    </ion-nav-buttons>
    

    <ion-content>

        <div class="list" ng-show="!vm.noProjects()">
            <ion-list class="item item-button-right">
                <ion-item ng-click="vm.onItemSelected($index)" ng-repeat="project in vm.projects">
                    {{project.ProjectName}}
                    <button class="button button-positive button-small" ui-sref="projectUpdate({projectID: project.id})">Edit</button>
                    <button class="button button-positive button-small" ng-click="vm.deleteProject(project.id)">Delete</button>
                </ion-item>
            </ion-list>
        </div>

        
        <div ng-show="vm.noProjects()">
            <h1 class="dark">There are no existing projects!</h1>
            <h2 class="dark">Please use the + to add a new project!</h2>
        </div>

    </ion-content>
</ion-view>