<ion-view view-title="ProjectMT">
        <div class="bar bar-subheader">
             <h2 class="title">Edit Project</h2>
        </div>
       
        <ion-content class="has-header has-subheader">
    
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="vm.newProject.ProjectName" placeholder="{{vm.project.ProjectName}}">
                </label>
                <div class="item item-input-inset">
                    <label class="item item-input-wrapper item-stacked-label">
                        <span class="input-label">Category</span>
                        <input type="text" ng-model="vm.newProject.ProjectCategory" placeholder="{{vm.project.name}}">
                    </label>
                    <button class="button button-small">Add</button>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Start Date</span>
                    <input type="number" ng-model="vm.newProject.StartDate" placeholder="{{vm.project.StartDate}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">End Date</span>
                    <input type="number" ng-model="vm.newProject.EndDate" placeholder="{{vm.project.EndDate}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Year</span>
                    <input type="number" ng-model="vm.newProject.ProjectYear" placeholder="{{vm.project.ProjectYear}}"></input>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Group Name</span>
                    <input type="text" ng-model="vm.newProject.GroupName" placeholder="{{vm.project.GroupName}}"> 
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Notes</span>
                    <input type="text" ng-model="vm.newProject.Notes" placeholder="{{vm.project.Notes}}">
                </label>
            </div>
            <div>
                <button class="button button-positive" ng-click='vm.updateProject()'>Save</button>
            </div>
    
            
        </ion-content>
</ion-view>